@use "../util" as *;
.container {
  width: 100%;
  width: rem(320);
  padding: rem(20);

  @include breakpoint(medium) {
    width: rem(420);
    padding: 0;
  }
}

.container-control {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
